body {
    background-color: white;
    font-family: Coronetscript, cursive;
    font-size: 22px;
    background-color:white;
    color: red;
  }
  #start {
    background-color: red;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
  }

  #title {
    font-family: Blippo, fantasy;;
  }
  #end-page {
    display: none;
  }
  
  #main-logo {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100% \9;
    
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
  }
  
  #end-page p {
    font-size: 20px;
    
  }
  
  #correct-answers {
    margin-top: 32px;
  }
  
  #question {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
  }
  

  #timer {
    margin-top: 20px;
  }
  
  #finished-button {
    margin-top: 20px;
    border-radius: 50%;
    font-size: 24px;
    background-color: red;
  }